body {
  overflow-x: hidden;
  padding-right: 40px;
}

.code-container {
  height: fit-content;
  left: 40px;
  right: 40px;
  top: 50px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.small-container a img {
  width: auto; 
  height: 60px;
  top: 10px;
  left: 5px;
  position: relative;
}

.small-container a {
  transition: all 0.5s ease;
  width: 84px; 
  height: 84px;
  margin-left: 50px;
  background: rgba(7, 30, 42, 0.60); 
  border-radius: 69px;
}

.l, .r {
  width: 100%;
  display: grid;
}

.small-container {
  display: flex;
  margin-bottom: 100px;
}

.smallerTitle {
  font-size: 45px;
}

.r {
  padding-top: 60px;
}

.r img {
  width: 479px; 
  height: 276px;
  box-shadow: 3px 4px 5.400000095367432px 4px rgba(0, 0, 0, 0.63); 
  border-radius: 7px;
  margin-top: 50px;
  justify-self: center;
}

.code {
  width: 100%;
  z-index: -5;
  height: auto; 
  left: -12px; 
  bottom: 0; 
  position: absolute; 
}

.imgCode {
  height: 100%;
  width: 100%;
  margin-right: 20px;
  max-width: 240px;
  bottom: 20px;
  position: relative;
}

.code-img {
  margin-top: 60px;
  width: 100%; 
  border-radius: 7px;
  margin-right: 50px;
  transition: all 0.5s ease;
}
