@media (min-width: 2200px) {
  
  body {
    padding-bottom: 6050px;
  }

  .bigTitle {
    font-size: 120px;
  }

  .subTitle {
    font-size: 50px;
  }

  .r img {
    scale: 1.5;
    position: relative;
    top: 70px;
  }

  .code-img {
    scale: 1.1;
    position: relative;
    top: 150px;
    margin-right: 100px;
  }

  .images {
    height: 288px;
    top: 800px;
  }

  .img, .under img {
    width: 512px;
    margin-left: 100px;
  }

  .under {
    top: 1020px;
    margin-top: 140px;
    left: -300px;
  }

  .section2 {
    top: 1551px; 
  }

  .dropdown .dropbtn {
    font-size: 35px;
  }

  .dropdown-content a {
    font-size: 30px;
  }

  .navImg {
    height: 120px;
    width: 120px;
  }

  .navbar {
    height: 175px;
  }

  .navText {
    font-size: 35px;
  }

  .button {
    height: 90px;
    width: 300px;
  }

  .exploring-title {
    top: 2500px;
  }

  .exploring-container {
    top: 2700px;
  }

  .discover {
    top: 3750px;
    height: 450px;
  }

  .exploring-card {
    width: 600px;
    height: 800px;
  }

  .card-text {
    margin-bottom: 215px;
  }

  .bold-text {
    margin-bottom: 150px;
  }

  .contact-container {
    top: 4300px;
  }

  .contact-footer {
    top: 4800px;
    scale: 1.1;
  }

  .contact-background {
    scale: 1.3;
    margin-bottom: 60px;
  }

  .footer {
    top: 5935px;
  }

  .footer2 {
    top: 5790px;
  }

  .footer2 a {
    font-size: 30px;
  }

  .footer3 {
    top: 5960px;
  }

  .h {
    top: 5750px;
  }

  .footer3 div {
    font-size: 30px;
  }
}