@media (min-width: 1300px) {

  .bdy {
    padding-bottom: 3830px;
  }

  .bigTitle {
    font-size: 65px;
  }

  .bigTitleP {
    scale: 1.1;
  }

  .subTitle {
    font-size: 35px;
  }

  .subTitleP {
    scale: 1.1;
  }

  .right img {
    scale: 1.6;
    left: 100px;
    position: relative;
  }

  .images {
    height: 220px;
    top: 500px;
  }

  .img, .under img {
    width: 512px;
    margin-left: 50px;
  }

  .imgCode {
    margin-top: 20px;
    bottom: 50px;
  }

  .under {
    top: 400px;
    margin-top: 140px;
    left: -300px;
  }

  .section2 {
    top: 1100px; 
    height: 800px;
  }

  .dropdown .dropbtn {
    font-size: 25px;
  }

  .dropdown-content a {
    font-size: 20px;
  }

  .navImg {
    width: 90px;
  }

  .navbar {
    height: 115px;
  }

  .navText {
    font-size: 25px;
  }

  .button {
    height: 50px;
    width: 200px;
  }

  .exploring-title {
    top: 1970px;
  }

  .exploring-container {
    top: 2050px;
  }

  .discover {
    top: 2780px;
    height: 340px;
  }

  .discover-button {
    width: 150px;
  }

  .exploring-card {
    width: 400px;
    height: 600px;
  }

  .card-text {
    margin-bottom: 135px;
  }

  .bold-text {
    margin-bottom: 80px;
  }

  .contact-container {
    top: 3250px;
  }

  .contact-footer {
    top: 3600px;
    scale: 1.1;
  }

  .contact-background {
    width: 240px;
    height: 70px;
    margin-bottom: 30px;
  }

  .contact-image {
    width: 60px;
    height: auto;
  }

  .contact-background div {
    font-size: 30px;
  }

  .footer {
    top: 4335px;
  }

  .footer2 {
    top: 4190px;
  }

  .footer2 a {
    font-size: 30px;
  }

  .footer3 {
    top: 4360px;
  }

  .h {
    top: 4150px;
  }

  .footer3 div {
    font-size: 30px;
  }

  .green {
    top: 62px;
  }

  .musicContainer3 {
    scale: 1.3;
    bottom: 100px;
  }
}